{% macro weather_cell(value, hl) %}
    <td>
        {% if hl %}<b>{% endif %}
        {{ value }}
        {% if hl %}</b>{% endif %}
    </td>
{% endmacro %}

{% macro weather_row(month, min, max, rain, hl_min, hl_max, hl_rain) %}
    <tr>
        <td>{{ month }}</td>
        {{ weather_cell(min, min <= hl_min) }}
        {{ weather_cell(max, max >= hl_max) }}
        {{ weather_cell(rain, rain >= hl_rain) }}
    </tr>
{% endmacro %}


{% macro row(document) %}
   <div class="panel panel-primary">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" href="#{{ document['id'] }}" aria-expanded="true" aria-controls="{{ document['id'] }}">
          Customer ID: {{ document['id'] }}
        </a>
      </h4>
    </div>
    <div id="{{ document['id'] }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
          <pre>{{ document|tojson_pretty|safe }}</pre>
      </div>
    </div>
  </div>
{% endmacro %}

